<h1>New game</h1>
<% @array.each do |letter| %>
<span><%=letter%></span>
<%end%>
<p>What is the longest word you can find?</p>
<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input type="text" name="word">
<input type="hidden" name="array" value="<%=@array.join%>">
<input type="submit" value="play">
</form>
